<!DOCTYPE html>

<html lang="pl">

	<head>
	
		<meta charset="utf-8" />
		<title>Shopping Cart</title>
		<link href="css/style.css" rel="stylesheet" media="all" />
		
		<!--Bootstrap !-->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	
	
	</head>
	
	<body>
		<select id="currency" class="form-control">
			<option>Choose your currency</option>			
			<option value="dolar">USD</option>
			<option value="zloty">PLN</option>
			<option value="euro">EUR</option>
			<option value="pound">GBP</option>
		</select>
	
		<div>
		
			<h2 class="text-center">You have <span id="basket">0</span> items in your basket</h2>
			
			<ul id="item-list"></ul>
			
			<div id="slider" class="carousel slide" data-ride="carousel">
				  <ol class="carousel-indicators">
					<li data-target="#slider" data-slide-to="0" class="active"></li>
					<li data-target="#slider" data-slide-to="1"></li>
					<li data-target="#slider" data-slide-to="2"></li>
				  </ol>
				  <div class="carousel-inner">
					<div class="item active">
					  <img class="slime animated infinite bounce" src="img/pro.jpg">
					</div>
					<div class="item">
					  <img class="slime animated infinite bounce" src="img/air.jpg">
					</div>
					<div class="item">
					  <img class="slime animated infinite bounce" src="img/macbook.jpg">
					</div>
				  </div>
				  <a class="left carousel-control" href="#slider" role="button" data-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="sr-only">Previous</span>
				  </a>
				  <a class="right carousel-control" href="#slider" role="button" data-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="sr-only">Next</span>
				  </a>
				</div>
			
			
			<table class="table table-hover">
				<tbody id="shopping-list"></tbody>
				<tfoot>

						<td>Total</td>
						<td colspan='4' id="total">0.00</td>
				</tfoot>
			</table>
		</div>
		

		
		<script type="text/template" id="tmp-shoppingListItem">
			<a class="name"><%= title %></a>
			<span class="price"><%= price.toFixed(2) %> <%= currencySign%></span>
		</script>
		
		<script type="text/template" id="tmp-shoppingCartItem">
			<td class="name"><%=title %></td>
			<td class="quantity-total">Quanity: <%= quantity %> </td>
	    	<td ><a class="quantity" data-type="increase" id="increase"><a class="quantity"  data-type="decrease" id="decrease"></a></a></td>
	    	<td class="sub-total"><%= total.toFixed(2) %> <%= currencySign%></td>
		</script>
		
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
		<script src="js/lib/underscore-min.js"></script>
		<script src="js/lib/backbone-min.js"></script>
		<script src="js/script.js"></script>

	
	</body>

</html>
